@using Return.Models
@model  ClassIncharge

@{
    ViewBag.Title = "EditClassroom";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Section> sections = ViewBag.Section as List<Section>;
    List<ClassIncharge> classIncharges = ViewBag.ClassIncharge as List<ClassIncharge>;
}



<h2>Edit Classroom</h2>

<div class="container">
    <div class="col-lg-6 col-lg-push-3">
        <div class="panel panel-info">
            <div class="panel-heading">Edit Classroom</div>
            <div class="panel-body">
                <form class="form-horizontal" action="/Admin/EditClassroom" method="post">
                    <input type="hidden" class="form-control" name="Id" value="@Model.Id">

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="sec">Section:</label>
                        <select name="SectionId" class="form-control">
                            @foreach (var item in sections)
                            {
                                <option value="@item.Id" @(item.Id == Model.SectionId ? "selected" : "") >
                                    @(item.Class.Name+ "-" +item.Name ?? "NA")
                                </option>

                            }

                        </select>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-sm-3" for="clsinch">Class Incharge:</label>
                        <select name="TeacherId" class="form-control">
                            @foreach (var item in classIncharges)
                            {
                                <option value="@item.Teacher.Id" @(item.Teacher.Id == Model.TeacherId ? "selected" : "")>
                                    @(item.Teacher.FirstName+ " " +item.Teacher.LastName ?? "NA")
                                </option>
                            }
                        </select>
                    </div>


                    <div class="form-group text-center">
                        <a class="btn btn-info " href="/Admin/ManageClassrooms">Back</a>
                        <button type="submit" class="btn btn-success save-changes-btn">Save Changes</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
