@using Return.Models
@model List<User>
@{
    ViewBag.Title = "ManageTeachers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid table-responsive">
    <div>
        <h2>Manage Teachers</h2>
        @*<a href="/Admin/AddTeacher" class="btn btn-info add-btn">Add Teacher</a>*@
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Teacher</th>
                <th>CNIC Number</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td>@item.CNICNumber</td>
                    <td>@item.Address</td>
                    <td class="text-center action-btn-div">
                        <a class="btn btn-info btn-sm" href="/Admin/View/@item.Id"><spna class="glyphicon glyphicon-user"></spna> View</a>
                        <a class="btn btn-primary btn-sm" href="/Admin/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                        <a class="btn btn-danger btn-sm" href="/Admin/Delete/@item.Id"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>











